<%= form_for @workout, :html => {:multipart => true} do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

        <%=f.label :weight%>
     <input type="text" id="workout_weight" name="workout[weight]"
       value="<%= @workout.weight %>" /> 
<br/>
 <br/>
  
      <br/>
  <% if user_signed_in? %>

<%= f.label :reps %>
<%= f.text_field :reps %>
<br/>
<br/>

 <%= f.label :exercise_id %>

 <%= f.select :exercise_id, options_for_select(@exercises.map{ |s| [s.name, s.id] })  %>
<br/>
<br/>
 <%= f.label "Workout Date" %>
<%= f.date_select :woDate %> 

<br/>
<br/>
      <button id = "log" class="btn btn-success">Log</button>

<%else%>
<%= link_to 'Log In To Log It!', new_user_session_path %> or <%= link_to 'Sign Up', new_user_registration_path%>
<%end%>
<% end %>