<!DOCTYPE html>
<html>
<head>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50626295-1', 'calcu-plate.herokuapp.com');
  ga('send', 'pageview');

</script>
</head>


<body>
<% if @workouts.empty? %>
<center><h3>You don't have any logged workouts!</h3> <br/>
<%= link_to "Start Logging", workouts_new_path %></center>
<%end%>


<center>
<p>Click a date to view your log for that day</p>

<% @workouts.each do |date, wo| %>
<button type="button" class="btn btn-danger btn-lg" data-toggle="collapse" data-target="#a<%=date.gsub(/\W/,'')%>">
<%= date %></button> <br/><br/>

<div id="a<%=date.gsub(/\W/,'')%>" class="collapse">
 <% wo.group_by {|w| w.exercise_id}.each do |exercise, workout|%>
        <h3><%= Exercise.find(exercise).name %></h3>

        <%workout.each do |f|%>
      <p>  <%= f.reps%> x <%= f.weight%></p>
    </br></br>
    <%end%>
    <%end%>
</div>


 <%end%>
    

</center>



</body>

</html>