<!DOCTYPE html>
<html>
<head>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50626295-1', 'calcu-plate.herokuapp.com');
  ga('send', 'pageview');

</script>
</head>

<header>
  <%= link_to "Home", workouts_new_path %></center>
</header>
<body>
<% if @workouts.empty? %>
<center><h3>You don't have any logged workouts!</h3> <br/>
<%= link_to "Start Logging", workouts_new_path %></center>
<%end%>

<% @workouts.each do |date, wo| %>
<center>
<h3><%= date %></h3>

  <% wo.group_by {|w| w.exercise_id}.each do |exercise, workout|%>
    <h5><%= Exercise.find(exercise).name %></h5>

    <%workout.each do |f|%>
      <%= f.reps%> x <%= f.weight%></br></br>
    <%end%>
    
 <%end%>

<%end%>
</center>
</body>

</html>