<!DOCTYPE html>
<html>
<head>
  <title>PlateCalculator</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<header>
    <% if user_signed_in? %>
<div align = "right">
  <%= link_to 'Sign Out', destroy_user_session_path%>
</div>
  <%end%>
</header>
<body>

  

<%= yield %>

</body>
</html>