<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Black+Ops+One|Play:400,700' rel='stylesheet' type='text/css'>
  <title>Calcu-Plate</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a class="navbar-brand navbar-left" href=<%= workouts_new_path%>>CalcuPlate</a>
    </div>
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" >
    <% if user_signed_in? && (current_page?(root_path) || current_page?(workouts_new_path))%>
        <li><a href=<%=workouts_path%> >Your Logs</a></li>
         <li><a href=<%=destroy_user_session_path%> data-method = 'delete'>Sign Out</a></li>

        <% elsif user_signed_in? && current_page?(workouts_path)%>
         <li><a href=<%=destroy_user_session_path%> data-method = "delete">Sign Out</a></li>
         
         <% elsif !user_signed_in? && (current_page?(root_path) || current_page?(workouts_new_path)) %>
              <li><a href=<%=new_user_session_path%>>Sign In</a></li>
              <li><a href=<%=new_user_registration_path%>>Sign Up</a></li>

         <%end%>

      </ul>
    </div>
</div>
</nav>
<body>

  

<%= yield %>

</body>
</html>